body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u794 {
  position:absolute;
  left:-32px;
  top:0px;
  width:1378px;
  height:785px;
  overflow:hidden;
  visibility:hidden;
}
#u794_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:785px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u794_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:875px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  position:absolute;
  left:-11px;
  top:-32px;
  width:1402px;
  height:875px;
}
#u796 {
  position:absolute;
  left:2px;
  top:430px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u799 {
  position:absolute;
  left:495px;
  top:206px;
  width:390px;
  height:198px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u800 {
  position:absolute;
  left:24px;
  top:24px;
  width:342px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u801 {
  position:absolute;
  left:520px;
  top:258px;
  width:341px;
  height:60px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u803 {
  position:absolute;
  left:702px;
  top:351px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u804 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u805 {
  position:absolute;
  left:601px;
  top:351px;
  width:89px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u806 {
  position:absolute;
  left:16px;
  top:6px;
  width:57px;
  white-space:nowrap;
}
#u807 {
  position:absolute;
  left:601px;
  top:351px;
  width:89px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u808 {
  position:absolute;
  left:702px;
  top:351px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u809 {
  position:absolute;
  left:-15px;
  top:-1px;
  width:1361px;
  height:786px;
  overflow:hidden;
  visibility:hidden;
}
#u809_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:786px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u809_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:824px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:-11px;
  top:-32px;
  width:1402px;
  height:824px;
}
#u811 {
  position:absolute;
  left:2px;
  top:404px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u814 {
  position:absolute;
  left:330px;
  top:146px;
  width:720px;
  height:405px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u815 {
  position:absolute;
  left:24px;
  top:24px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:32px;
}
#u817 {
  position:absolute;
  left:641px;
  top:337px;
  width:97px;
  height:32px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:32px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:22px;
}
#u819 {
  position:absolute;
  left:330px;
  top:369px;
  width:720px;
  height:62px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:22px;
}
#u820 {
  position:absolute;
  left:0px;
  top:16px;
  width:720px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:79px;
}
#u821 {
  position:absolute;
  left:654px;
  top:235px;
  width:73px;
  height:79px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:144px;
  color:#52C41A;
}
#u822 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  position:absolute;
  left:775px;
  top:376px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u824 {
  position:absolute;
  left:505px;
  top:239px;
  width:387px;
  height:54px;
  overflow:hidden;
  visibility:hidden;
}
#u824_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u824_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:-24px;
  top:-32px;
  width:470px;
  height:376px;
}
#u826 {
  position:absolute;
  left:2px;
  top:180px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:-30px;
  top:-66px;
  width:365px;
  height:170px;
}
#u828 {
  position:absolute;
  left:2px;
  top:77px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u829 {
  position:absolute;
  left:79px;
  top:11px;
  width:27px;
  height:16px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u831 {
  position:absolute;
  left:24px;
  top:11px;
  width:27px;
  height:16px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:60px;
  top:12px;
  width:14px;
  height:14px;
}
#u835 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u836 {
  position:absolute;
  left:63px;
  top:16px;
  width:8px;
  height:6px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  position:absolute;
  left:6px;
  top:12px;
  width:14px;
  height:14px;
}
#u840 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:4px;
  top:2px;
  width:49px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:785px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:785px;
}
#u843 {
  position:absolute;
  left:2px;
  top:384px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u844 {
  position:absolute;
  left:995px;
  top:196px;
  width:89px;
  height:18px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u845 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u847 {
  position:absolute;
  left:941px;
  top:189px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u848 {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u849 {
  position:absolute;
  left:995px;
  top:287px;
  width:81px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u850 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u851 {
  position:absolute;
  left:941px;
  top:280px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u852 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u853 {
  position:absolute;
  left:995px;
  top:238px;
  width:121px;
  height:24px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u854 {
  position:absolute;
  left:8px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u857 {
  position:absolute;
  left:941px;
  top:234px;
  width:32px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u858 {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:459px;
  top:139px;
  width:450px;
  height:610px;
}
#u860 {
  position:absolute;
  left:2px;
  top:297px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u861 {
  position:absolute;
  left:511px;
  top:70px;
  width:346px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u863 {
  position:absolute;
  left:995px;
  top:378px;
  width:81px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u864 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u865 {
  position:absolute;
  left:995px;
  top:423px;
  width:81px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u866 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u867 {
  position:absolute;
  left:995px;
  top:469px;
  width:81px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u868 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u869 {
  position:absolute;
  left:995px;
  top:514px;
  width:81px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u870 {
  position:absolute;
  left:8px;
  top:-3px;
  width:65px;
  white-space:nowrap;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u871 {
  position:absolute;
  left:941px;
  top:416px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u872 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u873 {
  position:absolute;
  left:941px;
  top:325px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u874 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u875 {
  position:absolute;
  left:941px;
  top:371px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u876 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u877 {
  position:absolute;
  left:941px;
  top:462px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u878 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u879 {
  position:absolute;
  left:941px;
  top:507px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u880 {
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u881 {
  position:absolute;
  left:511px;
  top:153px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(35, 122, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:601px;
  top:450px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u885 {
  position:absolute;
  left:511px;
  top:210px;
  width:71px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:511px;
  top:251px;
  width:14px;
  height:14px;
}
#u890 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u891 {
  position:absolute;
  left:514px;
  top:255px;
  width:8px;
  height:6px;
}
#u892 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u893 {
  position:absolute;
  left:584px;
  top:250px;
  width:27px;
  height:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:565px;
  top:251px;
  width:14px;
  height:14px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u898 {
  position:absolute;
  left:529px;
  top:250px;
  width:27px;
  height:16px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u900 {
  position:absolute;
  left:565px;
  top:241px;
  width:49px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u901 {
  position:absolute;
  left:995px;
  top:332px;
  width:161px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u902 {
  position:absolute;
  left:8px;
  top:-3px;
  width:145px;
  white-space:nowrap;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u903 {
  position:absolute;
  left:282px;
  top:210px;
  width:200px;
  height:100px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u904 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u905 {
  position:absolute;
  left:941px;
  top:457px;
  width:189px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u906 {
  position:absolute;
  left:941px;
  top:411px;
  width:189px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u907 {
  position:absolute;
  left:941px;
  top:366px;
  width:189px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u908 {
  position:absolute;
  left:941px;
  top:321px;
  width:269px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u909 {
  position:absolute;
  left:941px;
  top:275px;
  width:189px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u910 {
  position:absolute;
  left:941px;
  top:229px;
  width:218px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u911 {
  position:absolute;
  left:941px;
  top:181px;
  width:218px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u912 {
  position:absolute;
  left:511px;
  top:357px;
  width:346px;
  height:48px;
}
#u913 {
  position:absolute;
  left:16px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u912_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(35, 122, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u914 {
  position:absolute;
  left:511px;
  top:450px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u915 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:601px;
  top:450px;
  width:80px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u917 {
  position:absolute;
  left:511px;
  top:450px;
  width:80px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
