body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:741px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:15px;
  top:58px;
  width:731px;
  height:205px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u3 {
  position:absolute;
  left:90px;
  top:0px;
  width:126px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u5 {
  position:absolute;
  left:216px;
  top:0px;
  width:137px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u7 {
  position:absolute;
  left:353px;
  top:0px;
  width:145px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u9 {
  position:absolute;
  left:498px;
  top:0px;
  width:228px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:40px;
  width:90px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u13 {
  position:absolute;
  left:90px;
  top:40px;
  width:126px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u15 {
  position:absolute;
  left:216px;
  top:40px;
  width:137px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u17 {
  position:absolute;
  left:353px;
  top:40px;
  width:145px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u19 {
  position:absolute;
  left:498px;
  top:40px;
  width:228px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:80px;
  width:90px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23 {
  position:absolute;
  left:90px;
  top:80px;
  width:126px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u25 {
  position:absolute;
  left:216px;
  top:80px;
  width:137px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u27 {
  position:absolute;
  left:353px;
  top:80px;
  width:145px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u29 {
  position:absolute;
  left:498px;
  top:80px;
  width:228px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u31 {
  position:absolute;
  left:0px;
  top:120px;
  width:90px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u33 {
  position:absolute;
  left:90px;
  top:120px;
  width:126px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u35 {
  position:absolute;
  left:216px;
  top:120px;
  width:137px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u37 {
  position:absolute;
  left:353px;
  top:120px;
  width:145px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u39 {
  position:absolute;
  left:498px;
  top:120px;
  width:228px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:160px;
  width:90px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u43 {
  position:absolute;
  left:90px;
  top:160px;
  width:126px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u45 {
  position:absolute;
  left:216px;
  top:160px;
  width:137px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u47 {
  position:absolute;
  left:353px;
  top:160px;
  width:145px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u49 {
  position:absolute;
  left:498px;
  top:160px;
  width:228px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 150, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:17px;
  top:15px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:17px;
  top:15px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
